@model GadgetIsLanding.Models.Genre 

@{
    ViewData["Title"] = "Genre: " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games.FirstOrDefault().Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Games) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                <partial name="_GamePhoto" model="item" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Description)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <form class="d-inline" asp-action="AddToCart">
                        <input type="hidden" name="gameId" value="@item.Id">
                        <input type="hidden" name="quantity" value="1">

                        <input type="submit" value="Quick Add" class="btn btn-primary">
                    </form>
                }
                <a class="btn btn-secondary"  asp-action="GameDetails" asp-route-id="@item.Id">See Game~!</a> 
            </td>
        </tr>
}
    </tbody>
</table>
