@model GadgetIsLanding.Models.Order

@{
    if (Model == null || Model.Cart.CartItems == null || Model.Cart.CartItems.Count == 0)
    {
        <div class="alert">
            <h1>Cart is empty, please add games!</h1>
        </div>

        return;
    }
}


@{
    ViewData["Title"] = "Order Details: " + Model.Cart.User.Email;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Game Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var cartItem in Model.Cart.CartItems)
            {
                var subtotal = cartItem.Price * cartItem.Quantity;

                <tr>
                    <td>@cartItem.Game.Name</td>
                    <td>@cartItem.Quantity</td>
                    <td>@cartItem.Price</td>
                    <td>@subtotal</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>Total: </th>
                <td colspan="3">@Model.Total</td>
            </tr>
        </tfoot>
    </table>
</div>
<div>
    <a asp-action="Shop">Genres</a>
</div>
